@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Интеллектуальная кухня</h1>
    <p class="lead">Кухня, которая знает, что у вас в холодильнике, что вы можете приготовить, подскажет, какие блюда давно не готовили,
    в общем, облегчает нашу жизнь</p>
    <p> @Html.ActionLink("Fridge", "Fridge", "Fridge")</p>
    <p> @Html.ActionLink("All Products", "All", "Fridge")</p>
</div>

